@font-face {
    font-family: Cardenio;
    src: url(assets/fonts/CardenioModern-Regular.otf);
}
@font-face {
    font-family: Cardenio-Bold;
    src: url(assets/fonts/CardenioModern-Bold.otf);
}

html{
    scroll-behavior: smooth;
}

div{
    font-family: 'Cardenio', sans-serif;
}

/* Palette to use */
:root{
    --col1: #fff1d8;
    --col3: #8c8394;
    --text: #849ca1;
    --highlight: #0e367c;
    --link: #e03a3e;
}

.navbar-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    
    height: 35px;
    background-color: var(--col1);
    /* box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1); */
}

.navbar-items{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button{
    background-color: transparent;
    border: none;
    
    color: var(--link);
    font-family: inherit;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 2.5px solid var(--link);
}

.content-window{
    overflow: auto;
}

.web-label{    
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.web-label img{
    height: 400px;
    width: 400px;
}

body{
    background-color: var(--col1);
    color: var(--highlight);
    padding: 0;
}
a{
    color: var(--link);
    text-decoration: none;
    border-bottom: 2.5px solid var(--link);
}
.page-break{
    text-align: center;
    font-family: 'Cardenio-Bold', sans-serif;
    color: var(--highlight);
    font-size: 50px;
    margin: 100px 0 25px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.start,.work{
    box-sizing: border-box;
    width: 700px;
    height: 100vh;
}

/* About me */
.start{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.start img{
    border-radius: 50%;
    width: 200x;
    height: 200px;
}
.highlight{
    font-family: 'Cardenio-Bold';
    color: var(--highlight);
    line-height: 0px;
}

/* Works */
.work{
    height: 60vh;
}
.item-container{
    margin: auto 0;
    display: flex;
    gap: 10px;
    font-size: 20px;
    text-align: center;

    align-items: center;
    justify-content: center;
}

.item-container h2{
    margin: 0;
}

.item-container img{
    width: 320px;
    height: 240px;

    border: var(--highlight) dashed;
}


/* Animation */
.work,.start{
    opacity: 0;
    transform: translateX(-100%);
    filter: blur(5px);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
@media(prefer-reduced-motion){
    .work{
        transition: none;
    }
}

/* Oter links */
.link{
    display: flex;
    height: 64px;
    gap: 25px;
    font-size: 20px;
    text-align: left;

    align-items: center;
    justify-content: center;
}
.link h2{
    font-size: 30px;
    width: 350px;
}
.link button{
    font-weight: bold;
    font-size: 35px;
    color: var(--link);
    text-decoration: none;
    border-bottom: 2.5px solid var(--link);
}
.link img{
    height: 64px;
    width: 64px;
}

/* Footer */
footer{
    font-family: 'Cardenio-Bold', sans-serif;
    font-size: 20px;
    color: var(--text);
    margin: 10px 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mail-popup{
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    opacity: 0%;
    visibility: hidden;
    transition: all 0.2s;
}
.show-mail{
    opacity: 100%;
    visibility: visible;
    transition: all 0.3s;
}
.mail-popup .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: var(--col1);
    border: 2px solid var(--highlight);
    border-radius: 2px 2px 2px 20px;
    padding: 10px 15px;
}
.mail-popup .wrapper img{
    width: 124px;
    height: 124px;
}
.wrapper h2{
    margin: 0;
    font-weight: normal;
}
.wrapper form label{
    font-size: 20px;
}
.wrapper form input[type="email"],input[type="text"]{
    width: 100%;
    font-family: 'Cardenio';
    font-size: 20px;
    box-sizing: border-box;
    border: 2px dashed var(--highlight);
    padding: 8px 5px;
    color: var(--highlight);
}
.wrapper form .message{
    display: flex;
    flex-direction: column;
}
.wrapper form textarea{
    width: 100%;
    min-height: 48px;
    min-width: 230px;
    
    max-height: 248px;
    max-width: 348px;

    font-family: 'Cardenio';
    font-size: 20px;
    box-sizing: border-box;
    border: 2px dashed var(--highlight);
    padding: 8px 5px;
    color: var(--highlight);
}
.wrapper form input[type="text"]:focus,input[type="email"]:focus, textarea:focus{
    outline: none;
}
.wrapper form .submit{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0 0;
}
.wrapper form input[type="submit"]{
    font-family: 'Cardenio';
    background-color: transparent;
    color: var(--link);
    letter-spacing: 1px;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid var(--link);
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .web-label img{
        width: 248px;
        height: 224px;
    }
    .work, .start{
        width: 100%;
        text-align: left;
    }
    .start{
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: left;
    }
    h1{
        font-size: 24px;
    }
    h2{
        font-size: 24px;
    }
    .work .item-container{
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: left;

        width: fit-content;
        box-sizing: border-box;
    }
    .work .item-container img{
        box-sizing: border-box;
        width: 100%;
        height: 100%;
    }
}