.nav {
    display: flex;
}

.titlebar {
    /* margin: 0px auto 0; */
    padding: 1px 8px;
    font-weight: bold;
    max-width: 960px;
    text-align: left;
    position: relative;

    background-image: linear-gradient(to right, darkblue, blue);
    background-color: blue;
    color: white;
    border-bottom: 2px solid #c0c0c0;
}

.shortcuts {
    text-align: center;
    margin: 0 auto 5px;
    max-width: 960px;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}

.shortcuts button {
    background-color: transparent;
    cursor: pointer;
    color: white;
    border: none;
    text-decoration: none;
}

.shortcuts button:active {
    color: darkmagenta;
}

.shortcuts p {
    line-height: 0px;
    text-decoration: underline;
}

/* Content */
.content {
    text-align: center;
    margin: 0 auto 0;
    max-width: 960px;
    position: relative;
    background-color: var(--col2);
    padding: 2px;

    border: 2px solid;
    border-color: white black black white;
}

.content .info {
    position: relative;
    margin: 0em 1em 0em 1em;
}

/* Landing Section */
.landing .tagline {
    font-weight: 100;
    position: relative;
    /* max-width: 60%; */
    margin: 1em auto;
    text-align: left;
    margin: 5px;
}

.landing .banner img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.landing .row {
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
}

.landing .skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.landing .about {
    background-color: white;
    border: 2px inset grey;
    z-index: 1;
}

.landing .skills {
    /* border: 2px solid white; */
    background-color: #c0c0c0;
}

.landing h3 {
    /* line-height: 0; */
    margin: 0 0 0 0;
    /* border: 2px outset white; */
}

.landing ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.landing li {
    border: 2px inset white;
    background-color: white;
}

/* Games Section */
.content .boxCoverMenu {
    background-color: black;
    padding: 0 0 5px 0;
    color: white;
}

.content .boxCoverMenu .grid {
    margin: 5px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.boxCoverMenu p {
    margin: 0 auto 0;
    max-width: 70%;
}

.boxCoverMenu .banner img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.game {
    padding: 5px;
    color: white;
}

.game p {
    /* line-height: 0; */
    margin: 0 auto 0;
}

.game:hover {
    text-decoration: underline;
    color: blue;
    cursor: pointer;

}

.games .back {
    display: flex;
    justify-content: start;
}

.games .back button {
    background-color: transparent;
    text-decoration: underline;
    color: white;
    border: none;
    cursor: pointer;
}

.games .back button:hover {
    color: blue;
}

/* Games Invididual Designs */
.games {
    margin: 5px 5px 5px 5px;
}
.games .available{
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
    cursor: pointer;
}
.games .available:hover{
    filter: drop-shadow(2px 0 0 white) 
        drop-shadow(-2px 0 0 white) 
        drop-shadow(0 2px 0 white) 
        drop-shadow(0 -2px 0 white);
}
.games .info .dev{
    border: 2px grey dashed;
    padding: 8px;
}
.games .info .dev .tag{
    font-weight: bold;
}

/* Hell */
.games .hell {
    border: 2px grey;
    padding: 5px;

    color: white;
    background: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 60%, rgba(72, 0, 0, 1) 90%, rgba(140, 0, 0, 1) 100%);
}
.games .hell .info {
    text-align: center;
}
.games .hell .dev {
    text-align: justify;
}
.games .hell .logo{
    width: 30%;
}
.games .hell .gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.games .hell .gallery img {
    width: 45%;
    /* border: darkred solid 2px; */
}

/* Baseball */
.games .baseball {
    border: 2px inset grey;
    /* margin: 5px 5px 5px 5px; */
    padding: 5px;

    color: black;
    background-color: white;
}
.games .baseball .info{
    text-align: justify;
}
.games .baseball .logo{
    width: 30%;
}
.games .baseball .back button{
    color: black;
}
.games .baseball .back button:hover{
    color: blue;
}
.games .baseball .gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.games .baseball .gallery img{
    width: 45%;
}

/* Cow */
.games .cow {
    border: 2px inset grey;
    /* margin: 5px 5px 5px 5px; */
    padding: 5px;

    color: white;
    /* background-color: pink; */
    background-image: url("../images/cow_tile.png");
    background-repeat: repeat;
    background-size: 5%;
}
.games .cow .info{
    background-color: #793a80;
    /* width: fit-content; */
    padding: 5px;
    color: white;
    border-radius: 15px;
}
.games .cow .logo{
    width: 40%;
}
.games .cow .gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3.5px;
    margin: 5px;

    /* #bc4a9b */
    background-color: #793a80;
    border-radius: 15px;
    width: fit-content;
}
.games .cow .gallery img{
    width: 45%;
    object-fit: cover;
}

/* Horror */
.games .horror {
    border: 2px inset;
    background-image: url("../images/wip.png");
    background-repeat: repeat;
    padding: 5px;

    color: white;
    background-color: #2b2b2b;
}

.games .horror .gallery {
    display: flex;
    flex-wrap: wrap;
}

.games .horror .gallery img {
    width: 50%;
    object-fit: cover;
}

/* Projects Section */
.projects .banner img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.projects .row {
    background-color: white;
    margin: 5px;
    border: 2px inset gray;
}

.projects .row .project {
    /* width: 100%; */
    display: flex;
    margin: 5px 5px 10px 5px;
}

.projects .row .project h4 {
    display: flex;
    align-items: center;
}

.projects .row .project .desc {
    /* max-width: max-content; */
    border: 2px dashed grey;
    /* border-top: 0px;
    border-bottom: 0px; */
    width: 100%;
}

.projects .row .project .desc h4,
.projects .row .project .desc p {
    text-align: left;
    margin: 2px 8px;
}

/* Arts Section */
.art .banner img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.art .gallery {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 5px; */
}

.art .gallery img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: zoom-in;
    border: inset 2px black;
    box-sizing: border-box;
}

/* Art Preview */
.artpreview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.900);
    z-index: 9999;
    /* Ensures it stays on top */

    display: flex;
}

.artpreview .expanded {
    justify-content: center;
    margin: auto auto;
    width: 45%;
    position: relative;
}

.artpreview .expanded p {
    line-height: 0px;
    position: absolute;
    color: white;

    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 1px;
    left: 5px;
    font-size: calc(8px + 1vw);
}

/* Contacts */
/* .contact{
} */
.contact .book {
    display: flex;
    /* padding: 0 10px 0 10px; */
    /* width: 100%; */
    margin: 2px;
}

.contact .banner img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.contact .intro {
    padding: 0 5px 0 5px;
    margin: 0px;
    max-width: 40%;
    text-align: justify;
}

.contact p {
    margin: 2px;
}

.contact .addresses {
    width: 100%;
    background-color: white;
    border: 2px inset grey;
    text-align: left;
}

.contact ul,
.contact li {
    list-style-type: none;
    padding: 0;
    margin: 2px;
}

.contact .addresses .long {
    display: block;
}

.contact .addresses .short {
    display: none;
}

/* Footer */
footer {
    margin: 0 auto 0;
    max-width: 960px;
    /* position: relative; */
    display: flex;
    justify-content: space-between;
}

footer p {
    color: white;
    margin: 2px;
}